form.connectForm
	.container
		input.connectForm__input(
			placeholder='Your name *'
			type='text'
		)
		input.connectForm__input(
			placeholder='Your e-mail *'
			type='email'
		)
		input.connectForm__input(
			placeholder='Subject *'
			type='text'
		)

		textarea.connectForm__textarea.pull-right(
			placeholder='Your message *'
		)

		button.connectForm__button.text-uppercase(type='submit') Send message
