main
	.container
		section.section.aboutSection
			.container
				article.aboutInfo
					h2.aboutInfo__title About me
					p.aboutInfo__paragraph  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt id explicabo quidem nostrum maxime et, ad temporibus ratione ex quibusdam reiciendis.
					p.aboutInfo__paragraph Sit doloribus, dignissimos praesentium corporis facilis. Consectetur, inventore, ducimus.
					button.button.aboutInfo__paragraph(type='button') Read more
				.sectionImageContainer.aboutSectionImageContainer
					figure.aboutSectionImageContainer__image.sectionImageContainer__image
					

		-
			var articlesModifiers = ['', 'articlesList__item_position-beneath', 'articlesList__item_position-super']
			var articlesTexts = [
				'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt id explicabo quidem nostrum maxime et, ad temporibus ratione ex quibusdam reiciendis.', 
				'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt id explicabo quidem nostrum maxime et, ad temporibus ratione ex quibusdam reiciendis.', 
				'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt id explicabo quidem nostrum maxime et, ad temporibus ratione ex quibusdam reiciendis.'
			]
			var articlesImages = ['a1', 'a2', 'a3']
			var articlesTitles = ['Lorem ipsum dolor', 'Lorem ipsum dolor', 'Lorem ipsum dolor']
			var articlesHrefs = ['#', '#', '#']
		section.articles
			.container
				h2.articles__title.center-block Latest articles
				ul.articlesList.list-unstyled
					each modifier, i in articlesModifiers 
						li.articlesList__item(class= modifier)
							article.article
								div.articleImageContainer.imageContainer(class="articleImageContainer_name-"+articlesImages[i])
									figure.articleImageContainer__image.imageContainer__image(class="articleImageContainer__image_name-"+articlesImages[i])
								h4.article__title= articlesTitles[i]
								p.article__paragraph= articlesTexts[i]
								a.article__readMore.text-uppercase(href= articlesHrefs[i]) Read more

		-
			var imageNames = ['g1', 'g2', 'g3', 'g4', 'g5', 'g6', 'g7']
		section.gallery
			.container
				h2.gallery__title Gallery
				ul.galleryList.list-unstyled
						li.galleryImagesContainer.galleryImagesContainer_numRow-1
							img.galleryImageContainer__image.img-reponsive(
								src='./../img/g1.png',
								alt= 'g1', 
								class= 'galleryImageContainer__image_name-g1')
							img.galleryImageContainer__image.img-reponsive(
								src='./../img/g2.png',
								alt= 'g2', 
								class= 'galleryImageContainer__image_name-g2')
							img.galleryImageContainer__image.img-reponsive(
								src='./../img/g3.png',
								alt= 'g3', 
								class= 'galleryImageContainer__image_name-g3')
						li.galleryImagesContainer.galleryImagesContainer_numRow-2
							img.galleryImageContainer__image.img-reponsive(
								src='./../img/g5.png',
								alt= 'g5', 
								class= 'galleryImageContainer__image_name-g5')
						li.galleryImagesContainer.galleryImagesContainer_numRow-3
							img.galleryImageContainer__image.img-fluid(
								src='./../img/g4.png',
								alt= 'g4', 
								class= 'galleryImageContainer__image_name-g4')
							img.galleryImageContainer__image.img-fluid(
								src='./../img/g6.png',
								alt= 'g6', 
								class= 'galleryImageContainer__image_name-g6')
							img.galleryImageContainer__image.img-fluid(
								src='./../img/g7.png',
								alt= 'g7', 
								class= 'galleryImageContainer__image_name-g7')

				button.button.gallery__button(type='button') Show more
		
		section.contactMe.section
			.container
				.sectionImageContainer.contactMeSectionImageContainer
					figure.contactMeSectionImageContainer__image.sectionImageContainer__image
				.connectMeFormContainer
					h2.contactMe__title.pull-right Contact
					.clearfix
					form.contactMeForm.pull-right#contactMeForm(method='post')
						.contactMeFormController
							input.contactMeFormController__input.formInput(
								type='text',
								name='name',
								pattern='[A-Za-zА-Яа-я]*',
								required,
								placeholder='Your name',
								max-length=100,
								min-length=3
							)
						.contactMeFormController
							input.contactMeFormController__input.formInput(
								type='text',
								name='email',
								required,
								placeholder='Your email',
								max-length=100,
								min-length=7
							)
						.contactMeFormController
							textarea.contactMeFormController__textarea.formInput_textarea(
								type='text',
								name='message',
								required,
								placeholder='Your message',
								max-length=300,
								min-length=1
							)
						button.contactMeForm__button.button(type='submit') Send message




					

