| {% load static %}

- var contactUrl = "{% url 'contact' %}"
- var newHallUrl = "{% url 'new-zal' %}"
- var homeUrl = "{% url 'home' %}"
- var finskayaUrl = "{% url 'finskaya' %}"
- var turkishUrl = "{% url 'turkish' %}"
//- var contactUrl = '/contact.html'
//- var newHallUrl = './new-zal.html'
//- var homeUrl = '/'
//- var finskayaUrl = '/finskaya.html'
//- var turkishUrl = '/turkish.html'
- var active = 'home'
doctype
html.no-js(lang="ru", manifest="app.manifest")
  head
    meta(charset="UTF-8")
    meta(
      name="viewport",
      content="width=device-width, initial-scale=1.0"
    )
    meta(
      name="description",
      content="Сауна Девятка Екатеринбург, ул.Первомайская, 77"
    )
    meta(
      http-equive="X-UA-Compatible",
      content="IE=edge"
    )
    link(
        rel="shortcut icon", 
        type="image/x-icon", 
        href="{% static '/public/img/favicon.ico' %}"
    )
    link(href="/cache/widgetkit/widgetkit-5dcf5de3.css", rel="stylesheet", type="text/css")
    script(src="/cache/widgetkit/widgetkit-95847c13.js", type="text/javascript")
    title Вип-сауна
    include ./blocks/templates/_curtainStyles.pug
  body
    include ./blocks/templates/_curtain.pug
    include ./blocks/templates/_header.pug
    include ./blocks/templates/_main.pug
    include ./blocks/templates/_footer.pug
      
    script(async, src="./../static/public/js/main.js")
    link(
      rel="stylesheet",
      href="./../static/public/css/main.css",
      media='none',
      onload='if (media == "none") media = "all"'
    ) 
    link(
      rel="stylesheet",
      href="./../static/public/css/ie-10-up.css",
      media='none',
      onload='if (media == "none") media = "all"'
    ) 
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js">
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js">
    <![endif]-->
    <!--[if IE]><link type="text/css" rel="stylesheet" href="./../static/public/css/ie9.css" lazyload="1" /><![endif]-->
